<div class="container cont-size">
    <div class="card ancho-form bg-primary">
      <div class="card-header bg-deg2">
        <h1 class="text-center mt-2">Encuesta</h1>
      </div>
      <div class="card-body bg-deg">
        <form [formGroup]="formEncuesta" (ngSubmit)="guardarEncuesta()">
          <div class="container">
            <fieldset class="reset bg-primary rounded">
              <legend class="reset">Informacion personal</legend>
              <div class="row">
                <div class="col form-group">
                  <label for="nombre">Nombre</label>
                  <input
                    type="text"
                    id="nombre"
                    class="form-control"
                    formControlName="nombre"
                  />
                  <small
                    class="text-danger"
                    *ngIf="this.formEncuesta.controls['nombre'].errors?.['required'] && this.formEncuesta.controls['nombre'].touched"
                  >
                    El nombre es requerido
                  </small>
                  <small
                    class="text-danger"
                    *ngIf="this.formEncuesta.controls['nombre'].errors?.['minlength']" 
                  >
                    Debe tener solo 10 numeros
                  </small>
                </div>
                <div class="col form-group">
                  <label for="apellido">Apellido</label>
                  <input
                    type="text"
                    id="apellido"
                    class="form-control"
                    formControlName="apellido"
                  />
                  <small
                    class="text-danger"
                    *ngIf="this.formEncuesta.controls['apellido'].errors?.['required'] && this.formEncuesta.controls['apellido'].touched"
                  >
                    El apellido es requerido
                  </small>
                </div>
              </div>
  
              <div class="row mt-2">
                <div class="col form-group">
                  <label for="edad">Edad</label>
                  <input
                    type="text"
                    id="edad"
                    class="form-control"
                    formControlName="edad"
                  />
                  <small
                    class="text-danger"
                    *ngIf="this.formEncuesta.controls['edad'].errors?.['min'] 
                    || this.formEncuesta.controls['edad'].errors?.['max']
                    || this.formEncuesta.controls['edad'].errors?.['pattern']"
                    
                  >
                    Debe tener entre 18 y 99 años 
                  </small>
                  <small
                    class="text-danger"
                    *ngIf="this.formEncuesta.controls['edad'].errors?.['required'] 
                    && this.formEncuesta.controls['edad'].touched"
                  >
                    La edad es requerida 
                  </small>
                </div>
                <div class="col form-group">
                  <label for="telefono">Telefono</label>
                  <input
                    type="text"
                    id="telefono"
                    class="form-control"
                    formControlName="telefono"
                  />
                  <small
                    class="text-danger"
                    *ngIf="this.formEncuesta.controls['telefono'].errors?.['minlength'] || 
                    this.formEncuesta.controls['telefono'].errors?.['maxlength'] ||
                    this.formEncuesta.controls['telefono'].errors?.['pattern']"
                  >
                    Debe tener solo 10 numeros
                  </small>
                  <small
                    class="text-danger"
                    *ngIf="this.formEncuesta.controls['telefono'].errors?.['required'] 
                    && this.formEncuesta.controls['telefono'].touched"
                  >
                    El telefono es requerido 
                  </small>
                </div>
              </div>
            </fieldset>
  
            <fieldset class="reset bg-primary rounded mt-3">
              <legend class="reset">Preguntas</legend>
              <div class="row mt-2">
                <div class="col">
                  <div class="col">
                    <label>Que puntaje le da a la pagina?</label>
                  </div>
                  <div class="col">
                    <div class="form-check form-check-inline">
                      <label for="1" class="form-check-label">1</label>
                      <input
                        type="radio"
                        class="form-check-input"
                        id="1"
                        formControlName="preguntaPuntaje"
                        value="1"
                      />
                    </div>
                    <div class="form-check form-check-inline">
                      <label for="2" class="form-check-label">2</label>
                      <input
                        type="radio"
                        class="form-check-input"
                        id="2"
                        formControlName="preguntaPuntaje"
                        value="2"
                      />
                    </div>
                    <div class="form-check form-check-inline">
                      <label for="3" class="form-check-label">3</label>
                      <input
                        type="radio"
                        class="form-check-input"
                        id="3"
                        formControlName="preguntaPuntaje"
                        value="3"
                      />
                    </div>
                    <div class="form-check form-check-inline">
                      <label for="4" class="form-check-label">4</label>
                      <input
                        type="radio"
                        class="form-check-input"
                        id="4"
                        formControlName="preguntaPuntaje"
                        value="4"
                      />
                    </div>
                    <div class="form-check form-check-inline">
                      <label for="5" class="form-check-label">5</label>
                      <input
                        type="radio"
                        class="form-check-input"
                        id="5"
                        formControlName="preguntaPuntaje"
                        value="5"
                      />
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label>Cual fue el juego que mas le gusto?</label>
                  <select class="form-select" formControlName="preguntaJuego">
                    <option value="Ahorcado">Ahorcado</option>
                    <option value="Mayor o menor">Mayor o menor</option>
                    <option value="Preguntados">Preguntados</option>
                    <option value="Batalla dragon ball z">Batalla dragon ball z</option>
                  </select>
                  <small
                    class="text-danger"
                    *ngIf="this.formEncuesta.controls['preguntaJuego'].errors?.['required'] 
                    && this.formEncuesta.controls['preguntaJuego'].touched"
                  >
                    La segunda pregunta es requerida
                  </small>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="pregunta3">Que podemos mejorar?</label>
                  <input
                    type="text"
                    id="pregunta3"
                    class="form-control"
                    formControlName="preguntaMejorar"
                  />
                  <small
                    class="text-danger"
                    *ngIf="this.formEncuesta.controls['preguntaMejorar'].errors?.['required'] 
                    && this.formEncuesta.controls['preguntaMejorar'].touched"
                  >
                    La tercer pregunta es requerida
                  </small>
                </div>
              </div>
            </fieldset>
            <button
              type="submit"
              class="btn btn-primary btn-lg w-100 mt-4 mb-2"
              [disabled]="formEncuesta.invalid"
            >
              Enviar encuesta
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
