.cont-size {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 90vh;
  }

.ancho-form{
    min-width: 40vw;
}

a {
  text-decoration: none;
  color: white;
}

.reset {
  all: revert;
}