<div class="container mt-5">
  <div class="row justify-content-center align-items-center centro">
    <div class="col-10">
      <div class="card text-white bg-primary mb-3">
        <div class="card-header pt-3 bg-deg2 text-center">
          <h1>Sobre mi</h1>
        </div>
        <div class="card-body bg-deg">
          <div class="row m-4 align-items-center">
            <div class="col-md-4">
              <img
                src="../../../assets/images/perfil.jpg"
                alt="foto-perfil"
                class="img-fluid rounded-circle"
              />
            </div>
            <div class="col mt-3">
              <ul class="list-unstyled">
                <li>
                  <h2 class="h3">Ignacio Molini</h2>
                  <p>Actualmente me encuentro trabajando como chofer para una obra social y cursando la Tecnicatura Universitaria en Programacion de la UTN FRA.</p>
                </li>
                <li>
                  <h3 class="h4">Juego propio: Batalla dragon ball z</h3>
                  <p>El juego que elegi consiste en una batalla que esta determinada por el azar. El objetivo es alcanzar la mayor cantidad de niveles y a medida que avanzamos disminuye la probabilidad de superarlos.</p>
                </li>
                <li>
                   <a href="http://github.com/ignaciomolini/tp-sala-de-juegos-2022" target="_blank">Repositorio de GitHub</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>