<div *ngIf="usuarioLogeado; else log">
  <app-card-juegos></app-card-juegos>
</div>

<ng-template #log>
  <div class="container abs-center">
    <div class="card text-center bg-primary">
      <div class="card-header bg-deg2">
        <h1 class="card-title tam-tit">Bienvenido a la sala de juegos!</h1>
      </div>
      <div class="card-body bg-deg">
        <h2 class="card-text tam-text">
          <a [routerLink]="['auth/login']">Inicie sesion</a> o <a [routerLink]="['auth/register']">registrece</a> para acceder a los juegos
        </h2>
      </div>
    </div>
  </div>
</ng-template>
