body {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../src/assets/images/fondo.jpg);
}

.fuente-principal{
    font-family: 'Righteous', cursive;
    font-size: large;
}

.bg-deg{
    background: linear-gradient(
        180deg,
        #6f42c1,
        #252466
      )
}

.bg-deg2{
    background: linear-gradient(
        360deg,
        #6f42c1,
        #252466
      )
}
